Repository bhuve1996/bhuvesh: changes, and which pre-commit hooks are due for each by the changed paths.
All: typescript-check, npm-build

typescript-check:
  name: TypeScript check
  entry: npx tsc --noEmit
  language: system
  pass_filenames: false

npm-build:
  name: npm build
  entry: npm run build
  language: system
  pass_filenames: false

wip: significant TypeScript error reduction (143 -> 87 errors)
  src/app/resume/page.tsx
  src/app/test-components/page.tsx
  src/components/analytics/AnalyticsDebugger.tsx
  src/components/analytics/AnalyticsTracker.tsx
  src/components/molecules/FormField/FormField.tsx
  src/components/molecules/Tabs/Tabs.tsx
  src/components/organisms/FloatingPanel/FloatingPanel.tsx
  src/components/organisms/FloatingPanel/tabs/AIContentTab.tsx
  src/components/organisms/FloatingPanel/tabs/ATSAnalysisTab.tsx
  src/components/organisms/FloatingPanel/tabs/TemplateCustomizerTab.tsx
  src/lib/data-types.ts
  src/lib/resume/stylingUtils.ts
  src/lib/resume/validation.ts
  src/tests/unit/export/ExportUtils.test.tsx
  src/types/analytics.ts
  src/types/common.ts
  src/types/resume.ts
Due: typescript-check

fix: resolve TypeScript compilation errors in main source files
  package.json
  src/app/test-components/page.tsx
  src/components/organisms/FloatingPanel/tabs/AIContentTab.tsx
  src/components/organisms/FloatingPanel/tabs/ATSAnalysisTab.tsx
  src/components/organisms/FloatingPanel/tabs/ExportTab.tsx
  src/components/organisms/FloatingPanel/tabs/TemplateCustomizerTab.tsx
  src/components/organisms/FloatingPanel/tabs/ValidationTab.tsx
  src/hooks/useAnalytics.ts
  src/lib/accessibility/index.ts
  src/lib/analytics/analytics.ts
  src/lib/analytics/index.ts
  src/lib/analytics/providers/console-analytics.ts
  src/lib/analytics/providers/google-analytics.ts
  src/lib/data.ts
  src/lib/resume/validation.ts
  src/types/analytics.ts
  src/types/index.ts
  src/types/resume.ts
Due: typescript-check, npm-build

fix: resolve all TypeScript type errors and improve type safety
  eslint.config.mjs
  jest.setup.js
  src/components/__tests__/integration/ComponentIntegration.test.tsx
  src/components/layout/UnifiedWelcomeBar/UnifiedWelcomeBar.tsx
  src/components/molecules/StatusBadge/StatusBadge.tsx
  src/components/organisms/FloatingPanel/tabs/TemplateCustomizerTab.tsx
  src/lib/analytics/analytics.ts
  src/lib/analytics/types.ts
  src/lib/data.ts
  src/lib/resume/htmlExportUtils.ts
  src/lib/resume/stylingUtils.ts
  src/lib/resume/unifiedExportUtils.ts
  src/store/resumeStylingStore.ts
  src/types/index.ts
Due: typescript-check

fix: exclude test files from TypeScript type checking only
  .husky/pre-commit
  jest.setup.js
  package.json
  src/components/analytics/AnalyticsTracker.tsx
  src/lib/utils/index.ts
  src/tests/integration/CompleteWorkflow.test.tsx
  src/tests/integration/ResponsiveDesign.test.tsx
  src/tests/unit/resume/ResumeBuilder.test.tsx
  src/tests/unit/store/ResumeStore.test.tsx
  src/tests/unit/styling/StylingSystem.test.tsx
  src/tests/unit/upload/FileUpload.test.tsx
  src/tests/unit/upload/ResumeManager.test.tsx
Due: typescript-check, npm-build

fix: resolve major test failures and type errors
  jest.config.js
  src/components/molecules/Tabs/Tabs.tsx
  src/components/organisms/ATSChecker/ATSChecker.tsx
  src/components/organisms/ATSChecker/ATSResults/ATSResults.tsx
  src/components/resume/ResumeBuilder/ResumeBuilder.tsx
  src/components/resume/RichTextEditor/RichTextEditor.tsx
  src/tests/unit/ats/ATSChecker.test.tsx
  src/tests/unit/export/ExportUtils.test.tsx
  src/tests/unit/resume/ResumeBuilder.test.tsx
  src/types/ui.ts
Due: typescript-check

fix: install @react-pdf/renderer and fix TypeScript errors
  package-lock.json
  package.json
  src/lib/resume/stylingUtils.ts
  src/tests/unit/upload/ResumeManager.test.tsx
Due: typescript-check, npm-build

fix: resolve ResumeStore test issues and install Redux dependencies
  package-lock.json
  package.json
  src/app/resume/builder/page.tsx
  src/components/auth/LoginButton.tsx
  src/components/layout/UnifiedWelcomeBar/UnifiedWelcomeBar.tsx
  src/components/molecules/FormField/FormField.tsx
  src/components/molecules/FormField/__tests__/FormField.test.tsx
  src/components/molecules/StatusBadge/__tests__/StatusBadge.test.tsx
  src/lib/accessibility/index.ts
  src/lib/utils/contrastUtils.ts
  src/tests/integration/ResponsiveDesign.test.tsx
  src/tests/unit/store/ResumeStore.test.tsx
  src/tests/unit/upload/ResumeManager.test.tsx
  src/tests/unit/utils/ContrastUtils.test.tsx
Due: typescript-check, npm-build

feat: comprehensive component system updates and testing improvements
  .gitignore
  cypress/e2e/component-system.cy.js
  cypress/support/commands.js
  src/app/globals.css
  src/app/resume/ats-checker/page.tsx
  src/app/resume/templates/page.tsx
  src/app/test-components/page.tsx
  src/components/__tests__/integration/ComponentIntegration.test.tsx
  src/components/atoms/Button/__tests__/Button.test.tsx
  src/components/layout/Navigation/__tests__/Navigation.test.tsx
  src/components/molecules/FileUpload/FileUpload.tsx
  src/components/molecules/FileUpload/__tests__/FileUpload.test.tsx
  src/components/molecules/FormField/FormField.tsx
  src/components/molecules/FormField/__tests__/FormField.a11y.test.tsx
  src/components/molecules/StatusBadge/StatusBadge.tsx
  src/components/molecules/Tabs/Tabs.tsx
  src/components/organisms/FloatingPanel/FloatingPanel.tsx
  src/components/organisms/FloatingPanel/__tests__/FloatingPanel.test.tsx
  src/components/resume/ResultsDisplay/ResultsDisplay.tsx
  src/components/resume/ResultsDisplay/SummaryDisplay.tsx
  src/components/resume/ResultsDisplay/TabbedParsedDataDisplay.tsx
  src/components/resume/ResumeBuilder/ResumeBuilder.tsx
  src/components/resume/RichTextEditor/RichTextEditor.tsx
  src/components/ui/ResumeInput/ResumeInput.tsx
  src/components/ui/Tabs/Tabs.tsx
  src/lib/design-tokens/index.ts
  src/tests/integration/CompleteWorkflow.test.tsx
  src/tests/integration/ExportWorkflow.test.tsx
  src/tests/integration/ResponsiveDesign.test.tsx
  src/tests/unit/export/ExportUtils.test.tsx
  src/tests/unit/upload/FileUpload.test.tsx
  src/tests/unit/upload/ResumeManager.test.tsx
  src/types/ui.ts
Due: typescript-check

feat: Implement AI-powered content restructuring and enhanced resume template rendering
  package-lock.json
  package.json
  src/app/LayoutWrapper.tsx
  src/app/resume/templates/page.tsx
  src/components/ai/ContentRestructuringDemo.tsx
  src/components/molecules/FileUpload/__tests__/FileUpload.test.tsx
  src/components/molecules/Tabs/Tabs.tsx
  src/components/organisms/FloatingPanel/FloatingPanel.tsx
  src/components/organisms/FloatingPanel/__tests__/FloatingPanel.test.tsx
  src/components/organisms/FloatingPanel/tabs/AIContentTab.tsx
  src/components/organisms/FloatingPanel/tabs/ExportTab.tsx
  src/components/organisms/FloatingPanel/tabs/TemplateCustomizerTab.tsx
  src/components/resume/templates/ResumeTemplateRenderer.tsx
  src/components/ui/Card/Card.tsx
  src/hooks/useContentRestructuring.ts
  src/lib/ai/contentRestructuring.ts
  src/lib/resume/sampleData.ts
  src/store/resumeStore.ts
  src/tests/unit/export/ExportUtils.test.tsx
  src/types/resume.ts
  tab-margins-fixed.png
  tailwind.config.js
Due: typescript-check, npm-build

feat: Add comprehensive Open Graph images for all pages
  src/app/about/opengraph-image.tsx
  src/app/blog/opengraph-image.tsx
  src/app/contact/opengraph-image.tsx
  src/app/projects/opengraph-image.tsx
  src/app/resume/ats-checker/opengraph-image.tsx
  src/app/resume/builder/opengraph-image.tsx
  src/app/resume/templates/opengraph-image.tsx
  src/app/services/opengraph-image.tsx
Due: typescript-check

feat: implement Google AdSense for website monetization
  docs/GOOGLE_ADSENSE_SETUP.md
  src/app/blog/page.tsx
  src/app/layout.tsx
  src/app/projects/page.tsx
  src/app/services/page.tsx
  src/components/ads/AdPlacement.tsx
  src/components/ads/AdSense.tsx
  src/components/ads/index.ts
  src/hooks/useAdSense.ts
  src/lib/adsense/config.ts
  src/lib/analytics/analytics.ts
  src/lib/analytics/config.ts
Due: typescript-check

fix: update blog page arrow function syntax and finalize AdSense implementation
  src/hooks/useAdSense.ts
Due: typescript-check

fix: resolve React Hook useCallback dependency issue in UnifiedAIContentImprover
  src/components/organisms/FloatingPanel/__tests__/FloatingPanel.test.tsx
  src/components/resume/UnifiedAIContentImprover.tsx
  src/contexts/TourContext.tsx
Due: typescript-check

fix: resolve E2E test failures in FloatingPanel component
  cypress/e2e/component-system.cy.js
  src/components/atoms/Button/Button.cy.tsx
  src/components/resume/UnifiedAIContentImprover.tsx
Due: typescript-check

fix(ui): remove duplicate footer and reorder navigation items
  src/app/about/page.tsx
  src/app/resume/templates/page.tsx
  src/components/layout/UnifiedWelcomeBar/UnifiedWelcomeBar.tsx
  src/components/resume/ATSAnalysis/ATSAnalysis.tsx
  src/components/resume/ResumeBuilder/ResumeBuilder.tsx
  src/components/resume/RichTextEditor/RichTextEditor.tsx
  src/components/resume/SectionValidation/SectionValidation.tsx
  src/components/ui/Tour/TourTrigger.tsx
  src/lib/constants/index.ts
Due: typescript-check

test(export): fix ExportUtils unit tests to match new function signatures and error handling
  src/app/resume/builder/page.tsx
  src/app/resume/templates/page.tsx
  src/components/organisms/FloatingPanel/FloatingPanel.tsx
  src/components/organisms/FloatingPanel/tabs/ExportTab.tsx
  src/components/organisms/FloatingPanel/tabs/PageBreaksTab.tsx
  src/components/resume/ModernExportButtons/ModernExportButtons.tsx
  src/components/resume/PDFExporter/PDFExporter.tsx
  src/components/resume/PDFExporter/index.ts
  src/components/resume/ResumeBuilder/ResumeBuilder.tsx
  src/components/resume/index.ts
  src/lib/resume/exportUtils.ts
  src/lib/resume/htmlExportUtils.ts
  src/lib/resume/pageBreakUtils.ts
  src/lib/resume/printExportUtils.ts
  src/lib/resume/stylingUtils.ts
  src/lib/resume/unifiedExportUtils.ts
  src/lib/resume/unifiedRenderer.ts
  src/tests/integration/CompleteWorkflow.test.tsx
  src/tests/integration/ExportWorkflow.test.tsx
  src/tests/unit/export/ExportUtils.test.tsx
  src/types/panels.ts
Due: typescript-check

feat: Add accessibility features and tooltips to Page Breaks tab
  src/app/demo/progress/page.tsx
  src/app/globals.css
  src/app/resume/templates/page.tsx
  src/app/test-components/page.tsx
  src/components/ai/ContentRestructuringDemo.tsx
  src/components/demo/ProgressDemo.tsx
  src/components/molecules/Tabs/Tabs.tsx
  src/components/organisms/FloatingPanel/FloatingPanel.tsx
  src/components/organisms/FloatingPanel/tabs/PageBreaksTab.tsx
  src/components/organisms/FloatingPanel/tabs/TemplateCustomizerTab.tsx
  src/hooks/useDraggablePanel.ts
Due: typescript-check

feat: improve horizontal scrollbars and tab navigation styling
  src/app/resume/ats-checker/page.tsx
  src/components/molecules/Tabs/Tabs.tsx
  src/components/organisms/FloatingPanel/FloatingPanel.tsx
  src/components/organisms/FloatingPanel/tabs/PageBreaksTab.tsx
  src/components/organisms/FloatingPanel/tabs/TemplateCustomizerTab.tsx
  src/components/ui/Tabs/Tabs.tsx
  src/components/ui/Tour/TourManager.tsx
  src/tests/integration/ResponsiveDesign.test.tsx
  src/tests/unit/responsive/ResponsiveDesign.test.tsx
Due: typescript-check

feat: Set page break indicators hidden by default and update tour guide
  src/components/molecules/Tabs/Tabs.tsx
  src/components/organisms/FloatingPanel/FloatingPanel.tsx
  src/tests/integration/ResponsiveDesign.test.tsx
  src/types/ui.ts
Due: typescript-check

feat: implement mobile-optimized floating panel with side button
  src/components/organisms/FloatingPanel/FloatingPanel.tsx
  src/tests/integration/ResponsiveDesign.test.tsx
  src/tests/unit/mobile-panel.test.tsx
Due: typescript-check

fix: resolve test failures and improve code quality
  package.json
  src/components/organisms/FloatingPanel/__tests__/FloatingPanel.test.tsx
  src/tests/integration/ResponsiveDesign.test.tsx
  src/tests/unit/mobile-panel.test.tsx
Due: typescript-check, npm-build

style: improve code formatting in test files
  src/tests/integration/ResponsiveDesign.test.tsx
Due: typescript-check

Update resume components and ATS functionality
  backend/app/api/upload.py
  src/app/resume/ats-checker/page.tsx
  src/app/resume/templates/page.tsx
  src/components/organisms/FloatingPanel/tabs/TemplateCustomizerTab.tsx
  src/components/resume/ATSAnalysis/ATSAnalysis.tsx
  src/components/resume/ResultsDisplay/ResultsDisplay.tsx
  src/components/resume/ResumeBuilder/ResumeBuilder.tsx
  src/components/resume/ResumeManager/ResumeManager.tsx
  src/components/resume/templates/ResumeTemplateRenderer.tsx
  src/lib/ats/api.ts
  src/types/resume.ts
Due: typescript-check

Fix remaining TypeScript and formatting issues
  src/app/resume/ats-checker/page.tsx
  src/components/resume/ResumeBuilder/ResumeBuilder.tsx
  src/components/resume/ResumeManager/ResumeManager.tsx
  src/lib/ats/api.ts
  src/types/resume.ts
Due: typescript-check

feat: Complete codebase optimization with DRY principles
  .cursorrules
  OPTIMIZATION_SUMMARY.md
  backend/app/api/upload.py
  docs/THEME_SYSTEM.md
  src/app/resume/ats-checker/page.tsx
  src/components/layout/UnifiedWelcomeBar/UnifiedWelcomeBar.tsx
  src/components/molecules/FileUpload/FileUpload.tsx
  src/components/organisms/ATSChecker/ATSChecker.tsx
  src/components/resume/ATSAnalysis/ATSAnalysis.tsx
  src/components/resume/ATSIntegration/ATSIntegration.tsx
  src/components/resume/ImprovementPlan/ImprovementPlan.tsx
  src/components/resume/ResumeManager/ResumeManager.tsx
  src/components/test/ThemeTestComponent.tsx
  src/components/ui/ThemeAware/ThemeAware.tsx
  src/components/ui/ThemeAware/index.ts
  src/components/ui/ThemeToggle/ThemeToggle.tsx
  src/components/ui/index.ts
  src/hooks/useThemeStyles.ts
  src/lib/api/unifiedClient.ts
  src/lib/ats/api.ts
  src/lib/utils/apiUtils.ts
  src/lib/utils/cn.ts
  src/lib/utils/componentPatterns.ts
  src/lib/utils/componentUtils.ts
  src/lib/utils/dataCleaningUtils.ts
  src/lib/utils/errorHandling.ts
  src/lib/utils/index.ts
  src/lib/utils/themeUtils.ts
  src/store/resumeStore.ts
  src/types/api.ts
  src/types/resume.ts
Due: typescript-check

fix: resolve all TypeScript build errors for Vercel deployment
  .cursorrules
  src/components/ui/ThemeAware/ThemeAware.tsx
  src/lib/api/unifiedClient.ts
  src/lib/ats/api.ts
  src/lib/utils/apiUtils.ts
  src/lib/utils/dataCleaningUtils.ts
  src/types/resume.ts
Due: typescript-check

Fix ATS checker upload and progress issues
  backend/app/api/upload.py
  backend/app/services/ats_analyzer.py
  src/app/resume/ats-checker/page.tsx
  src/components/molecules/FileUpload/FileUpload.tsx
  src/components/organisms/ATSChecker/ATSChecker.tsx
  src/components/resume/ImprovementPlan/ImprovementPlan.tsx
  src/components/resume/ResultsDisplay/ResultsDisplay.tsx
  src/components/test/ThemeTestComponent.tsx
  src/components/ui/ThemeAware/ThemeAware.tsx
  src/lib/api/unifiedClient.ts
  src/lib/ats/api.ts
  src/lib/utils/cn.ts
Due: typescript-check

Fix pre-commit hooks, replace Any types with proper types, and improve test infrastructure
  .env.example
  .husky/pre-commit
  .pre-commit-config.yaml
  backend/app/api/upload.py
  backend/app/helpers/validation.py
  backend/app/services/ats_analyzer.py
  backend/app/services/resume_improver.py
  backend/app/types/__init__.py
  backend/app/types/api.py
  backend/app/types/ats.py.backup
  backend/app/types/common.py
  backend/app/types/common_types.py
  backend/app/types/services.py
  src/app/resume/ats-checker/page.tsx
  src/components/__tests__/integration/ComponentIntegration.test.tsx
  src/components/molecules/FileUpload/FileUpload.tsx
  src/components/organisms/FloatingPanel/tabs/ExportTab.tsx
  src/components/resume/ATSIntegration/ATSIntegration.tsx
  src/components/resume/ResultsDisplay/ResultsDisplay.tsx
  src/components/resume/ResumeManager/ResumeManager.tsx
  src/components/ui/AnimatedButton/AnimatedButton.tsx
  src/components/ui/SectionSeparator/SectionSeparator.tsx
  src/lib/api/unifiedClient.ts
  src/lib/ats/api.ts
  src/lib/resume/printExportUtils.ts
  src/lib/utils/apiPatterns.ts
  src/lib/utils/componentPatterns.ts
  src/lib/utils/index.ts
  src/lib/utils/mobileDetection.ts
  src/tests/unit/upload/ResumeManager.test.tsx
  src/tests/utils/testWrapper.tsx
Due: typescript-check

Fix SSR window object issues and build errors
  src/components/molecules/FileUpload/FileUpload.tsx
  src/lib/utils/mobileDetection.ts
Due: typescript-check

fix: resolve Railway deployment healthcheck failure
  backend/app/main.py
  backend/app/types/common_types.py
  backend/requirements-minimal.txt
  backend/start.py
  src/app/resume/ats-checker/page.tsx
  src/components/resume/ATSAnalysis/ATSAnalysis.tsx
  src/components/ui/ProgressSteps/ProgressSteps.tsx
  src/lib/ats/api.ts
Due: typescript-check

feat: Add privacy/terms pages, floating navigation, and enhance ATS analysis
  backend/app/services/resume_improver.py
  backend/app/types/common_types.py
  src/app/globals.css
  src/app/privacy/page.tsx
  src/app/resume/ats-checker/page.tsx
  src/app/resume/templates/page.tsx
  src/app/terms/page.tsx
  src/components/layout/Footer/Footer.tsx
  src/components/resume/ATSAnalysis/ATSAnalysis.tsx
  src/components/resume/FloatingNavigation/FloatingNavigation.tsx
  src/components/resume/FloatingNavigation/index.ts
  src/components/resume/ResultsDisplay/ResultsDisplay.tsx
  src/components/resume/templates/TemplateCarousel.tsx
  src/lib/ats/api.ts
Due: typescript-check

fix: Correct CSS selector escaping in print styles
  src/app/globals.css
Due: none

fix: Resolve all lint, TypeScript, Jest, and Cypress errors
  cypress/e2e/component-system.cy.js
  src/app/resume/templates/page.tsx
  src/app/terms/page.tsx
  src/components/__tests__/integration/ComponentIntegration.test.tsx
  src/components/molecules/FileUpload/FileUpload.tsx
  src/components/resume/templates/TemplateCarousel.tsx
  src/tests/unit/upload/ResumeManager.test.tsx
Due: typescript-check

feat: Implement unified pre-commit system with zero tolerance
  .husky/pre-commit-unified
  .pre-commit-config.yaml.disabled
  package.json
  test-commit.txt
Due: npm-build

test: Attempt to bypass pre-commit checks
  test-bypass.txt
Due: none

test: Attempt to bypass pre-commit checks again
  test-bypass2.txt
Due: none

fix: Complete all test failures and achieve 100% test pass rate
  .husky/pre-commit
  docs/UNIFIED_PRE_COMMIT_SYSTEM.md
  package.json
  src/components/__tests__/integration/ComponentIntegration.test.tsx
  src/components/layout/Navigation/__tests__/Navigation.test.tsx
  src/components/molecules/FileUpload/__tests__/FileUpload.test.tsx
  src/store/resumeStore.ts
  src/tests/accessibility/__tests__/a11y.test.tsx
  src/tests/unit/ats/ATSChecker.test.tsx
  src/tests/unit/upload/FileUpload.test.tsx
  test-bypass.txt
  test-bypass2.txt
  test-commit.txt
Due: typescript-check, npm-build

fix: Resolve Vercel deployment issue with husky prepare script
  package.json
Due: npm-build

🔧 Fix Railway deployment issues
  backend/RAILWAY_DEPLOYMENT_FIX.md
  backend/app/main.py
  backend/app/services/job_detector.py
  backend/app/services/resume_improver.py
  backend/app/types/ats.py
  backend/app/utils/compatibility.py
  backend/deploy.sh
  backend/pyproject.toml
  backend/railway.toml
  backend/requirements-minimal.txt
  backend/requirements.txt
  backend/runtime.txt
  backend/test_fixes.py
Due: none

Path conditions:
  typescript-check: any of: ^src/.*\.(ts|tsx)$
  npm-build: any of: ^(src/|package\.json|next\.config\.ts|tailwind\.config\.js|tsconfig\.json)$
