Repository bhuve1996/bhuvesh: changes, and which pre-commit hooks are due for each by the changed paths.
All: typescript-check, npm-build

.pre-commit-config.yaml:

repos:
  # Pre-commit hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: debug-statements

  # Frontend: ESLint
  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: v8.55.0
    hooks:
      - id: eslint
        files: ^src/.*\.(ts|tsx|js|jsx)$
        types: [file]
        additional_dependencies:
          - eslint@^8.55.0
          - '@typescript-eslint/eslint-plugin@^6.0.0'
          - '@typescript-eslint/parser@^6.0.0'
          - 'eslint-plugin-import@^2.29.0'
          - 'eslint-plugin-react@^7.33.0'
          - 'eslint-plugin-react-hooks@^4.6.0'
        args: [--fix, --max-warnings=0]

  # Frontend: Prettier
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        files: ^src/.*\.(ts|tsx|js|jsx|json|css|md)$
        types: [file]
        additional_dependencies:
          - prettier@^3.1.0

  # Frontend: TypeScript check
  - repo: local
    hooks:
      - id: typescript-check
        name: TypeScript check
        entry: npx tsc --noEmit
        language: system
        files: ^src/.*\.(ts|tsx)$
        pass_filenames: false

  # Frontend: Build check
  - repo: local
    hooks:
      - id: npm-build
        name: npm build
        entry: npm run build
        language: system
        files: ^(src/|package\.json|next\.config\.ts|tailwind\.config\.js|tsconfig\.json)$
        pass_filenames: false

  # Backend: Black code formatter
  - repo: https://github.com/psf/black
    rev: 23.11.0
    hooks:
      - id: black
        language_version: python3
        files: ^backend/.*\.py$
        exclude: ^(backend/app_backup/|backend/venv/|backend/tests/)

  # Backend: isort import sorter
  - repo: https://github.com/pycqa/isort
    rev: 5.12.0
    hooks:
      - id: isort
        args: ['--profile', 'black']
        files: ^backend/.*\.py$
        exclude: ^(backend/app_backup/|backend/venv/|backend/tests/)

  # Backend: Ruff linter
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.1.6
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
        files: ^backend/.*\.py$
        exclude: ^(backend/app_backup/|backend/venv/|backend/tests/)
      - id: ruff-format
        files: ^backend/.*\.py$
        exclude: ^(backend/app_backup/|backend/venv/|backend/tests/)

  # Backend: MyPy type checker
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.7.1
    hooks:
      - id: mypy
        additional_dependencies: [types-requests, types-PyYAML]
        args: [--ignore-missing-imports, --no-strict-optional]
        files: ^backend/app/(?!backup).*\.py$

fix: resolve all TypeScript and ESLint errors for successful build
  eslint.config.mjs
  package-lock.json
  package.json
  src/api/endpoints/ats.ts
  src/app/page.tsx
  src/app/resume/builder/page.tsx
  src/components/atoms/Button/Button.tsx
  src/components/organisms/ATSChecker/ATSChecker.tsx
  src/components/resume/AIAssistant/AIAssistant.tsx
  src/components/resume/DOCXExporter/DOCXExporter.tsx
  src/components/resume/DataSelectionModal/DataSelectionModal.tsx
  src/components/resume/DragDropSections/DragDropSections.tsx
  src/components/resume/PDFExporter/PDFExporter.tsx
  src/components/resume/ResultsDisplay/ResultsDisplay.tsx
  src/components/resume/ResumeBuilder/ResumeBuilder.tsx
  src/components/resume/ResumeManager/ResumeManager.tsx
  src/components/resume/RichTextEditor/RichTextEditor.tsx
  src/components/resume/TemplateGallery/TemplateGallery.tsx
  src/components/ui/Button/Button.tsx
  src/types/index.ts
  src/types/resume.ts
  src/types/ui.ts
Due: typescript-check, npm-build

style: fix code formatting with Prettier
  backend/RAILWAY_DEPLOYMENT_FIX.md
  src/api/endpoints/ats.ts
  src/components/index.ts
  src/types/common.ts
  src/types/resume.ts
Due: typescript-check

fix: resolve module resolution issue for templateLoader
  .gitignore
  src/lib/resume/index.ts
Due: typescript-check

feat: add missing lib files for ATS and resume functionality
  src/lib/ats/api.ts
  src/lib/resume/cloudStorage.ts
  src/lib/resume/templateLoader.ts
Due: typescript-check

feat: Complete ATS data mapping system with unified types
  backend/app/services/ats_analyzer.py
  src/app/blog/page.tsx
  src/app/resume/ats-checker/page.tsx
  src/app/resume/templates/page.tsx
  src/app/services/page.tsx
  src/components/resume/ATSAnalysis/ATSAnalysis.tsx
  src/components/resume/FileUpload/FileUpload.tsx
  src/components/resume/PDFExporter/PDFExporter.tsx
  src/components/resume/ResultsDisplay/ResultsDisplay.tsx
  src/components/resume/ResumeBuilder/ResumeBuilder.tsx
  src/components/ui/Card/Card.tsx
  src/components/ui/ChevronIcon/ChevronIcon.tsx
  src/components/ui/ChevronIcon/index.ts
  src/components/ui/CollapsibleSection/CollapsibleSection.tsx
  src/components/ui/CollapsibleSection/index.ts
  src/components/ui/FormField/FormField.tsx
  src/components/ui/FormField/index.ts
  src/components/ui/ItemCard/ItemCard.tsx
  src/components/ui/ItemCard/index.ts
  src/components/ui/ResumeInput/ResumeInput.tsx
  src/components/ui/ResumeInput/index.ts
  src/components/ui/RichTextInput/RichTextInput.tsx
  src/components/ui/RichTextInput/index.ts
  src/components/ui/index.ts
  src/lib/utils/atsToResumeMapper.ts
  src/types/resume.ts
  src/types/ui.ts
Due: typescript-check

fix: Resolve TypeScript errors for unused parameters
  src/app/resume/ats-checker/page.tsx
  src/app/resume/templates/page.tsx
  src/components/resume/ImprovementPlan/TabbedImprovementPlan.tsx
  src/components/resume/ResultsDisplay/ResultsDisplay.tsx
  src/components/resume/ResumeBuilder/ResumeBuilder.tsx
  src/components/resume/ResumeManager/ResumeManager.tsx
  src/components/ui/AnimatedButton/AnimatedButton.tsx
  src/lib/resume/unifiedRenderer.ts
Due: typescript-check

fix: Resolve all npm run build errors
  src/app/resume/templates/page.tsx
  src/components/resume/ResultsDisplay/ResultsDisplay.tsx
  src/components/resume/ResumeManager/ResumeManager.tsx
  src/components/resume/templates/TemplateCustomizer.tsx
  src/components/ui/AnimatedCard/AnimatedCard.tsx
  src/components/ui/ThemeToggle/ThemeToggle.tsx
  src/contexts/ResumeNavigationContext.tsx
  src/lib/resume/exportUtils.ts
  src/lib/resume/unifiedRenderer.ts
Due: typescript-check

fix: Resolve template selection issue in templates page
  src/app/resume/templates/page.tsx
Due: typescript-check

fix: Comprehensive PDF export formatting improvements
  src/lib/resume/unifiedRenderer.ts
Due: typescript-check

fix: Drastically reduce PDF spacing to fit resume on 1-2 pages
  src/lib/resume/unifiedRenderer.ts
Due: typescript-check

fix: Ultra-compact PDF spacing to fit on 1-2 pages maximum
  src/lib/resume/unifiedRenderer.ts
Due: typescript-check

fix: Align PDF spacing to match preview exactly
  src/lib/resume/unifiedRenderer.ts
Due: typescript-check

fix: Reduce section spacing in PDF export for better compactness
  src/lib/resume/unifiedRenderer.ts
Due: typescript-check

fix: Ultra-minimal spacing for PDF export to eliminate 100px gaps
  src/lib/resume/unifiedRenderer.ts
Due: typescript-check

fix: Resolve remaining TypeScript errors
  src/components/resume/AIContentImprover.tsx
  src/components/resume/templates/ImprovedPaginatedTemplatePreview.tsx
  src/components/resume/templates/PaginatedTemplatePreview.tsx
  src/components/resume/templates/TemplateCard.tsx
  src/components/resume/templates/TemplatePreview.tsx
  src/components/resume/templates/index.ts
  src/lib/resume/sampleData.ts
  src/lib/utils/contrastUtils.ts
Due: typescript-check

style: Fix code formatting with Prettier
  public/resume-templates/creative/designer-modern.json
  src/app/LayoutWrapper.tsx
  src/app/globals.css
  src/components/resume/templates/ImprovedPaginatedTemplatePreview.tsx
  src/components/resume/templates/PaginatedTemplatePreview.tsx
Due: typescript-check

feat: Move export functionality to unified floating panel and improve responsiveness
  src/app/resume/templates/page.tsx
  src/components/resume/FloatingAIContentImprover.tsx
  src/components/resume/FloatingATSScore.tsx
  src/components/resume/FloatingPostExportATSValidation.tsx
  src/components/resume/FloatingTemplateCustomizer.tsx
  src/components/resume/ImprovedAIContentImprover.tsx
  src/components/resume/ModernExportButtons/ModernExportButtons.tsx
  src/components/resume/PostExportATSValidation.tsx
  src/components/resume/UnifiedFloatingPanel.tsx
  src/components/resume/templates/ResumeTemplateRenderer.tsx
  src/components/resume/templates/TemplateCard.tsx
  src/components/resume/templates/TemplateCarousel.tsx
  src/components/ui/Card/Card.tsx
  src/components/ui/Carousel/Carousel.tsx
  src/lib/resume/exportUtils.ts
  src/lib/resume/printExportUtils.ts
  src/lib/resume/templates.ts
  src/lib/resume/unifiedRenderer.ts
Due: typescript-check

fix: Simplify export functionality to resolve TypeScript errors
  src/components/resume/FloatingATSScore.tsx
  src/components/resume/UnifiedFloatingPanel.tsx
Due: typescript-check

fix: Resolve linting issues in UnifiedFloatingPanel
  src/components/resume/UnifiedFloatingPanel.tsx
Due: typescript-check

fix: Resolve TypeScript errors in UnifiedFloatingPanel
  src/components/resume/UnifiedFloatingPanel.tsx
Due: typescript-check

fix: Resolve remaining TypeScript error in UnifiedFloatingPanel
  src/components/resume/UnifiedFloatingPanel.tsx
Due: typescript-check

fix: Resolve all 44 linting errors across the codebase
  src/components/resume/FloatingATSScore.tsx
  src/components/resume/FloatingPostExportATSValidation.tsx
  src/components/resume/FloatingTemplateCustomizer.tsx
  src/components/resume/ImprovedAIContentImprover.tsx
  src/components/resume/ModernExportButtons/ModernExportButtons.tsx
  src/components/resume/UnifiedFloatingPanel.tsx
  src/lib/resume/exportUtils.ts
  src/lib/resume/htmlExportUtils.ts
  src/lib/resume/printExportUtils.ts
  src/lib/resume/unifiedRenderer.ts
Due: typescript-check

fix: Resolve all TypeScript errors preventing deployment
  src/components/resume/FloatingATSScore.tsx
  src/components/resume/FloatingTemplateCustomizer.tsx
  src/components/resume/ImprovedAIContentImprover.tsx
  src/lib/resume/unifiedRenderer.ts
Due: typescript-check

style: Fix code formatting with Prettier
  src/app/resume/templates/page.tsx
  src/components/resume/FloatingTemplateCustomizer.tsx
  src/components/resume/ImprovedAIContentImprover.tsx
Due: typescript-check

feat: improve resume builder UX and fix multiple issues
  src/app/resume/builder/page.tsx
  src/components/resume/FloatingActions/FloatingActions.tsx
  src/components/resume/ResumeBuilder/ResumeBuilder.tsx
  src/components/resume/SectionValidation/SectionValidation.tsx
  src/components/resume/templates/ImprovedPaginatedTemplatePreview.tsx
  src/components/resume/templates/PaginatedTemplatePreview.tsx
  src/components/resume/templates/ResumeTemplateRenderer.tsx
  src/components/resume/templates/TemplateCard.tsx
  src/components/ui/Card/Card.tsx
Due: typescript-check

fix: resolve TypeScript errors and set up comprehensive pre-commit hooks
  .husky/pre-commit
  .husky/pre-commit-balanced
  .husky/pre-commit-minimal
  jest.setup.js
  src/app/api/auth/[...nextauth]/route.ts
  src/components/analytics/AnalyticsDebugger.tsx
  src/components/auth/LoginButton.tsx
  src/components/auth/LogoutButton.tsx
  src/components/auth/UserProfile.tsx
  src/components/layout/Navigation/__tests__/Navigation.test.tsx
  src/components/layout/UnifiedWelcomeBar/UnifiedWelcomeBar.tsx
  src/components/resume/FloatingActions/__tests__/FloatingActions.test.tsx
  src/components/ui/Button/__tests__/Button.simple.test.tsx
  src/components/ui/Button/__tests__/Button.test.tsx
  src/components/ui/Tooltip/Tooltip.tsx
  src/components/ui/Tooltip/__tests__/Tooltip.test.tsx
  src/contexts/AnalyticsContext.tsx
  src/hooks/useAnalytics.ts
  src/lib/auth.ts
  src/lib/seo/utils.ts
  src/tests/accessibility/__tests__/a11y.test.tsx
  src/types/jest-dom.d.ts
  tsconfig.json
Due: typescript-check, npm-build

feat: consolidate pre-commit hooks into single essential hook
  .husky/pre-commit
  .husky/pre-commit-balanced
  .husky/pre-commit-basic
  .husky/pre-commit-comprehensive
  .husky/pre-commit-fast
  .husky/pre-commit-minimal
  .husky/pre-commit-simple
  .husky/pre-commit-ultra-simple
  .husky/pre-push
Due: none

feat: implement single comprehensive pre-commit hook with numbered steps
  .husky/pre-commit
  .husky/pre-push
Due: none

fix: comprehensive test and error cleanup
  .husky/pre-commit
  cypress.config.js
  cypress/e2e/accessibility.cy.js
  cypress/e2e/navigation.cy.js
  cypress/support/component-index.html
  cypress/support/component.d.ts
  cypress/support/component.js
  jest.config.js
  jest.setup.js
  package.json
  src/app/layout.tsx
  src/components/SEO/SEOPerformanceMonitor.tsx
  src/components/analytics/AnalyticsDebugger.tsx
  src/components/analytics/AnalyticsTracker.tsx
  src/components/layout/Navigation/Navigation.tsx
  src/components/layout/Navigation/__tests__/Navigation.test.tsx
  src/components/layout/UnifiedWelcomeBar/UnifiedWelcomeBar.tsx
  src/components/resume/FloatingActions/FloatingActions.tsx
  src/components/resume/FloatingActions/__tests__/FloatingActions.test.tsx
  src/components/sections/Contact/ContactSection.tsx
  src/components/ui/Button/Button.cy.tsx
  src/components/ui/Button/Button.tsx
  src/components/ui/Button/__tests__/Button.test.tsx
  src/components/ui/ThemeToggle/ThemeToggle.tsx
  src/components/ui/Tooltip/Tooltip.tsx
  src/components/ui/Tooltip/__tests__/Tooltip.test.tsx
  src/hooks/useAnalytics.ts
  src/lib/analytics/analytics.ts
  src/lib/analytics/providers/console-analytics.ts
  src/lib/analytics/providers/google-analytics.ts
  src/lib/analytics/resume-analytics.ts
  src/lib/analytics/template-analytics.ts
  src/lib/analytics/types.ts
  src/lib/auth.ts
  src/lib/seo/utils.ts
  src/lib/utils/accessibility.ts
  src/tests/accessibility/__tests__/a11y.test.tsx
  tsconfig.cypress.json
  tsconfig.jest.json
  tsconfig.json
Due: typescript-check, npm-build

feat: comprehensive testing setup with zero-tolerance pre-commit hooks
  .npmrc
  README.md
  package-lock.json
  package.json
  src/components/layout/Navigation/Navigation.tsx
Due: typescript-check, npm-build

fix: add NEXTAUTH_SECRET to auth configuration
  .env.example
  src/lib/auth.ts
Due: typescript-check

docs: add Google OAuth environment variables to .env.example
  .env.example
Due: none

feat: improve DOCX export with proper formatting and preview consistency
  src/app/resume/ats-checker/page.tsx
  src/app/resume/builder/page.tsx
  src/app/resume/page.tsx
  src/app/resume/templates/page.tsx
  src/components/auth/UserProfile.tsx
  src/components/layout/Navigation/Navigation.tsx
  src/components/layout/UnifiedWelcomeBar/UnifiedWelcomeBar.tsx
  src/components/molecules/Tabs/Tabs.tsx
  src/components/organisms/FloatingPanel/FloatingPanel.tsx
  src/components/resume/CollapsedCarouselHint.tsx
  src/components/resume/DataChoiceDialog.tsx
  src/components/resume/MobileExportMenu.tsx
  src/components/resume/MobileFloatingActionButton.tsx
  src/components/resume/TemplateSearch.tsx
  src/components/resume/ValidationModal/ValidationModal.tsx
  src/components/resume/ViewModeToggle.tsx
  src/components/resume/templates/TemplateCard.tsx
  src/components/resume/templates/TemplateCarousel.tsx
  src/components/ui/Card/Card.tsx
  src/components/ui/Carousel/Carousel.tsx
  src/lib/data.ts
  src/lib/resume/exportUtils.ts
  src/lib/resume/printExportUtils.ts
  src/lib/resume/stylingUtils.ts
  src/lib/resume/unifiedExportUtils.ts
  src/store/resumeStore.ts
  src/types/external.d.ts
Due: typescript-check
